@charset "UTF-8";
html{
	display: block;

}

body{
	margin: 0% auto;
	width: 100%;
	height: auto;
	overflow-x: hidden;
	z-index: 1;	
}

/* a태그 */
a{
	text-decoration: none;
	color: white;
}

/* 헤더 */
.header{
	display: flex;

	background-color: black;
	width: 100%;
	height: 80px;	
 	z-index: 2;
	clear:both;
	position: fixed;
 	top: 0;
 	left: 0;
 	right: 0;
}

.mainpage_logo{
	float: left; 
	clear:both;
	width: auto;
	height: 80px;
}

.mainpage_logo img{
	width: 220px;
	height: 80px;
	margin-left: 800px;
}



/*policy_box*/
.policy_box img{
	padding-top: 100px;
	padding-left: 100px;
	padding-bottom: 100px;
}


/* 푸터 */
.footer{
	background-color: black;
	width: 100%;
	height: 50px;
	
}

.footer_logo{
	background-color: black;
	text-align: center;
	padding-top:20px;
	padding-right: 200px;
}

.footer_logo img{
	width: 250px;
	height: auto;
}

.footer_container{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	width: 100%;
	height: 100%;
	position: sticky;
}

.footer_container1{
	background-color: black;
	padding-left: 150px;
	padding-bottom: 20px;
}

.footer_container1 h4{
	color: white;
}

.footer_container1 p{
	color: white;
}

.footer_container1 input{
	color: white;
}

.footer_container2{
	background-color: black;
	padding-left: 100px;
	padding-bottom: 20px;
}

.footer_container2 h4{
	color: white;
}

.footer_container2 ul{
	color: white;
}

.footer_container3{
	background-color: black;
	padding-bottom: 20px;
}

.footer_container3 h4{
	color: white;
}

.footer_container3 ul{
	color: white;
}