<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.gitar.mapper.MemberMapper">
  <!-- 회원가입 -->

  	<insert id="memberjoin">
  		insert into member (user_email, user_password , user_firstname, user_lastname)
  		values(#{user_email},#{user_password},#{user_firstname},#{user_lastname})
  	</insert>
  
    <!-- 로그인 -->

  	<select id="login" resultType="org.gitar.model.MemberVO">
  			select *
  			from member
  			where user_email=#{user_email}
  			and user_password=#{user_password}	
  	</select>
  	
  </mapper>